# 1Password ZSH 
{{- if eq .chezmoi.os "darwin" -}}
# Mac OS 1Password socket
export SSH_AUTH_SOCK="$HOME/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
# Linux 1Password socket
export SSH_AUTH_SOCK="$HOME/.1password/agent.sock"
{{- end }}
