# Homebrew ZSH 
#
# Using Chezmoi templating, caches the evaluation of Homebrew's init command for performance.
# It is cross platform; it checks for the Mac OS install location then Linux install location.
{{- if lookPath "/opt/homebrew/bin/brew" }}
{{ output "/opt/homebrew/bin/brew" "shellenv" | trim }}
{{- end }}
{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
{{ output "/home/linuxbrew/.linuxbrew/bin/brew" "shellenv" | trim }}
{{- end }}
