[Unit]
Description=Weekly ClamAV scan of home directory

[Service]
Type=oneshot
ExecStart=/bin/sh -c '
  mkdir -p "$HOME/.clamav"
  echo "[$(date)] Starting ClamAV scan" >> "$HOME/.clamav/scan.log"
  /home/linuxbrew/.linuxbrew/bin/freshclam --config-file="$HOME/.config/clamav/freshclam.conf" >> "$HOME/.clamav/scan.log" 2>&1
  /home/linuxbrew/.linuxbrew/bin/clamscan --config-file="$HOME/.config/clamav/clamd.conf" -r --infected --log="$HOME/.clamav/scan-$(date +%%Y-%%m-%%d).log" "$HOME" >> "$HOME/.clamav/scan.log" 2>&1
  echo "[$(date)] Finished ClamAV scan" >> "$HOME/.clamav/scan.log"
'

