# clamd.service — User-level ClamAV Daemon using LocalSocket
#
# Runs the clamdscan daemon which is required to run clamscan with the daemon. It is recommended to run it with the daemon because it is much faster.
[Unit]
Description=User ClamAV Daemon (clamd)
After=network.target

[Service]
ExecStart=/home/linuxbrew/.linuxbrew/sbin/clamd --config=%h/.config/clamav/clamd.conf
CPUAffinity=8-13
# Limit clamd (100% is one core)
# This prevents overall CPU saturation and lag.
# 200% seems to be the sweet spot on my rusty laptop
CPUQuota=400%
# Give it the lowest possible CPU priority
Nice=19
# 3. I/O Priority: Give ClamAV the minimum possible slice of disk bandwidth
IOWeight=10
# Give it the lowest possible Disk priority
; IOSchedulingClass=idle

[Install]
WantedBy=default.target
