[Unit]
Description=work-cleanup Automated cleanup service

[Service]
Type=oneshot
WorkingDirectory=%h/bin
ExecStart=/bin/zsh -c 'clean_temp_files('
StandardOutput=null
StandardError=null
