# Set the source directory for chezmoi
sourceDir = {{ .chezmoi.config.sourceDir | quote }}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Luke's Macbook Pro" -}}
{{-     $hostname = "macbook" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{/* Detect Distrobox (either env var is non-empty) */}}
{{- $isDistrobox := or (ne (env "DISTROBOX_ENTER_PATH") "") (ne (env "container") "") -}}
{{/* Detect any devcontainer: Distrobox, VSCode, or CONTAINER_ID */}}
{{- $isDevContainer := or $isDistrobox (eq .chezmoi.username "vscode") (ne (env "CONTAINER_ID") "") -}}

[data]
name = "Luke M"
email = "git@lukm.dev"
hostname = {{ $hostname | quote }}
username = "luke"
home_path = "/var/home/luke"
{{ if $isDevContainer }}
sysarea = "devcontainer"
{{ else if or (eq .chezmoi.hostname "macbook") (eq .chezmoi.hostname "polar") }}
sysarea = "home"
{{ else if eq .chezmoi.hostname "workbook" }}
sysarea = "work"
{{ else }}
sysarea = "server"
{{ end }}



