# Set the source directory for chezmoi
sourceDir = {{ .chezmoi.config.sourceDir | quote }}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Luke's Macbook Pro" -}}
{{-     $hostname = "macbook" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

[data]
name = "Luke M"
email = "44519853+lkdm@users.noreply.github.com"
hostname = {{ $hostname | quote }}
{{ if or (eq .chezmoi.hostname "macbook") (eq .chezmoi.hostname "polar") }}
sysarea = "home"
{{ else if eq .chezmoi.hostname "workbook" }}
sysarea = "work"
{{ else }}
sysarea = "server"
{{ end }}
