# Chezmoi
alias cm='chezmoi'

# ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias zj='zellij'

hash -d lkdm=~/Repos/lkdm/
hash -d dotfiles=~/Repos/lkdm/dotfiles
hash -d lab=~/Repos/lkdm/lab
hash -d notes=~/Repos/lkdm/notes
{{- if eq .sysarea "work" }}
hash -d sn=~/Repos/SoftwareNorth/
hash -d tol=~/Repos/SoftwareNorth/TriOnline/
hash -d sbrc=~/github.com/SoftwareNorth/TriOnline/sbrc/
{{- end }}

if [[ "$(uname)" == "Darwin" ]]; then
    # Add Homebrew to path
    hash -d icloud=~/Library/Mobile\ Documents/com~apple~CloudDocs/
fi

