[core]
       editor = "nvim"
       hooksPath = '$HOME/.git-hooks'
[init]
       defaultBranch = main
[user]
       name = Luke M
       email = 44519853+lkdm@users.noreply.github.com
       signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKakM1jaObw4q/jCgVUQsBX2sNbawG3kJPFpN+TK7HOI
[gpg]
       format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" -}}
       program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" -}}
       program = "/opt/1Password/op-ssh-sign"
{{ end }}
[commit]
       gpgsign = true
       verbose = true
       # When using git-commit, show my git message
       # In this case, I've written a summary of conventional commits.
       template = ~/.gitmessage
[safe]
       directory = /home/luke/github.com/SoftwareNorth/*
[alias]
       o = log --oneline
       adog = log --all --decorate --oneline --graph
[log]
       # Use YYYY-MM-DD dates
       date = iso
[tag]
       # Had to turn this off due to lazygit never creating a tag
       gpgsign = false
[format]
       signoff = true
[push]
       # Automatically set up a remote branch if it doesn't exist
       autoSetupRemote = true
[pull]
       # Should be the default Git pull strategy
       rebase = true
[diff]
       # Diff whole blocks of code, rather than line-by-line
       algorithm = histogram
       colorMoved = plain
       mnemonicPrefix = true
       renames = true
[fetch]
       # Prune branches deleted on origin upon fetch
       prune = true
[help]
       autocorrect = prompt
[rerere]
       # Re-use recorded resolution
       #
       # Basically, if you are rebasing and continually fixing conflicts the same way, it will
       # repeat that resolution.
       enabled = true
       autoupdate = true
[rebase]
       # Automatically squashes commits marked with `fixup!` or `squash!`
       autoSquash = true
       # Automatically stash on rebase, then pop. Allows you to rebase on dirty worktree
       autoStash = true
[merge]
       # Makes diffs 3-way, by including the code before either current or incoming change.
       # TODO: Use zdiff3 after upgrading git
       # conflictstyle diff3
[url "git@github.com:"]
       # Use SSH remote urls rather than http
       # You can use pushInsteadOf to only use SSH urls on push, so you can still use HTTP for public repos
       insteadOf = "https://github.com/"
[apply]
       # Remote trailing whitespaces
       whitespace = fix
