# .profile is run once per login

{{ if and (ne .sysarea "server") (ne .sysarea "devcontainer") }}
{{ if eq .chezmoi.os "darwin" -}}
SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ else if eq .chezmoi.os "linux" -}}
SSH_AUTH_SOCK=~/.1password/agent.sock

# if [ -n "$DISTROBOX_ENTER_PATH" ]; then
#  SSH_AUTH_SOCK="/run/host/home/$(whoami)/.1password/agent.sock"
# fi
{{ else -}}
{{ end }}
{{ end }}

# Set the default editor to Neovim
VISUAL=nvim
EDITOR="$VISUAL"
GIT_EDITOR="$VISUAL"

# Terminal settings
TERM="screen-256color"
COLORTERM=truecolor

# Wipe path
typeset -U path
#
# Cross-platform way to export correct Homebrew environment variables
#
eval "$("$(which brew)" shellenv)"

# path is an array that zsh syncs with the PATH environment variable
path=(
	$path
	~/.atuin/bin
	~/.cargo/bin
	$(brew --prefix rustup)/bin
	$HOMEBREW_PREFIX/opt/omnisharp/bin
	$HOMEBREW_PREFIX/opt/postgresql@17/bin
	$(uv tool dir)
	~/.bun
	$BUN_INSTALL/bin
	~/.local/bin
	~/bin
	/usr/local/go/bin
	/snap/bin
	/usr/bin
	/usr/local/bin
	# MacOS
	/bin
  	/usr/sbin
  	/sbin
)

SHELL=$HOMEBREW_PREFIX/bin/zsh

# For NVM / NPM
export NVM_LAZY_LOAD=true # Speeds up loading of shell
export NVM_DIR="$HOME/.nvm"
[ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" # This loads nvm

