# .profile is run once per login

{{ if eq .chezmoi.os "darwin" -}}
SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock
{{ else if eq .chezmoi.os "linux" -}}
SSH_AUTH_SOCK=~/.1password/agent.sock
{{ else -}}
{{ end }}

# Set the default editor to Neovim
VISUAL=nvim
EDITOR="$VISUAL"
GIT_EDITOR="$VISUAL"

# Add Bun to PATH
BUN_INSTALL="$HOME/.bun"
PATH="$BUN_INSTALL/bin:$PATH"

# Add local binaries to PATH
PATH="$HOME/.local/bin:$PATH"
PATH="$HOME/bin:$PATH"

# Add system paths to PATH
PATH="/usr/local/go/bin:$PATH"
PATH="/snap/bin:$PATH"
PATH="/usr/bin/python3:$PATH"

# Terminal settings
# TERM=xterm-256color
TERM="screen-256color"
COLORTERM=truecolor

PATH="$PATH:$HOME/.atuin/bin"

# Add Homebrew to path
PATH="/opt/homebrew/bin:$PATH"

