# Chezmoi
alias cm='chezmoi'
alias cma='echo "Patching dotfiles..." && chezmoi apply && source ~/.zshrc'

# ls
alias ls='eza'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# dev
alias lg='lazygit'
alias cl='clear'

# nvim
alias nv='nvim'
alias nvim-reset='echo "Wiping Neovim Lazy and Mason plugins..." && rm ~/.local/share/nvim/lazy -rf && rm ~/.local/share/nvim/mazon -rf'


# jrnl
alias jt='jrnl -to today'
alias j0='jrnl -n 1 --edit'

if [ -n "$DISTROBOX_ENTER_PATH" ]; then
    # In a Distrobox environment, we want some commands to reference the host
    alias host='distrobox-host-exec'
    alias ujust='host ujust'
    alias open='host xdg-open'
    alias code='host code'
    alias flatpak='host flatpak'
    alias rpm-ostree='host rpm-ostree'
    alias bootc='host bootc'

    # Fedora atomic save location
    hash -d factorio=/var/home/luke/.var/app/com.valvesoftware.Steam/.factorio/saves
fi

# Obsidian
hash -d vault=~/Documents/Brain
alias notes='cd ~/Documents/Brain && nvim .'

hash -d lkdm=~/Repos/lkdm
hash -d dotfiles=~lkdm/dotfiles
hash -d scripts=~lkdm/scripts
hash -d lab=~lkdm/lab

# Work aliases
hash -d sn=~/Repos/SoftwareNorth
hash -d tol=~/Repos/SoftwareNorth/TriOnline
hash -d staging=~tol/staging
hash -d betab=~tol/betab
hash -d betap=~tol/betap
hash -d betah=~tol/betah
hash -d sbrc=~tol/sbrc
hash -d feature=~tol/feature
hash -d hotfix=~tol/hotfix

# Fix dotnet
# alias omnisharp='OmniSharp'

if [[ "$(uname)" == "Darwin" ]]; then
    # Add Homebrew to path
    hash -d icloud=~/Library/Mobile\ Documents/com~apple~CloudDocs/
fi


