[init]
       defaultBranch = main
[user]
       name = Luke M
       email = 44519853+lkdm@users.noreply.github.com
       signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKakM1jaObw4q/jCgVUQsBX2sNbawG3kJPFpN+TK7HOI
[gpg]
       format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "darwin" -}}
       program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else if eq .chezmoi.os "linux" -}}
       program = "/opt/1Password/op-ssh-sign"
{{ end }}
[commit]
       gpgsign = true
[safe]
       directory = /home/luke/trionline
[alias]
       adog = log --all --decorate --oneline --graph
[tag]
       gpgsign = true
[format]
       signoff = true
