#!/usr/bin/env bash

# This file declaratively installs packages. If it has changed between chezmoi applications,
# this script will be executed.

{{- if eq .sysarea "devcontainer" }}
dev_packages=(
  # Lua
  lua luarocks
  # JavaScript
  bun nvm
  # Docker
  docker docker-compose
  # Rust
  rustup
  # Python
  uv pipx python
  # Go
  go gopls
  # Git
  jesseduffield/lazygit/lazygit git-delta
  # Data
  jq fd bat
  # Postgres
  postgresql
  # Dotnet
  omnisharp
)
brew tap oven-sh/bun
brew tap omnisharp/omnisharp-roslyn
for package in "${dev_packages[@]}"; do
  echo "Installing dev package: $package..."
  $(which brew) install --quiet "$package" || echo "Failed: $package"
done

rustup update && rustup default stable
nvm install node

# Symlink Omnnisharp
ln -s $(which OmniSharp) ~/.local/bin/omnisharp
{{- end }}
#
# Brew packages
brew_packages=(
  zsh
  atuin
  git
  curl
  fzf
  neovim
  ripgrep
  zellij
  jrnl
  # Drop-in replacement for ls
  eza
  {{- if (eq .sysarea "home")}}
  ffmpeg pandoc
  {{- end }}
  {{- if or (eq .sysarea "home") (eq .sysarea "work")}}
    btop
    mosh
    sevenzip
    syncthing
  {{- end }}

  {{- if eq .chezmoi.os "linux" }}
    {{- if or (eq .sysarea "server") (eq .sysarea "devcontainer")}}
      # xsel works better when sshing into a container
      xsel
    {{- else }}
      xclip
    {{- end }}
  {{- end }}

)
brew tap "jesseduffield/lazygit"
brew tap "nikitabobko/tap"
for package in "${brew_packages[@]}"; do
  echo "Installing brew package: $package..."
  $(which brew) install --quiet "$package" || echo "Failed: $package"
done


{{- if eq .chezmoi.os "darwin" }}
# Install cask packages, available on MacOS
brew_casks=(
  #alacritty
  ghostty
  firefox
  1password
  1password-cli
  iina
  freedom
  localsend
  discord
  obsidian
{{- if eq .sysarea "home"}}
  scrivener
  calibre
  cryptomator
{{- end }}
)
for package in "${brew_casks[@]}"; do
  echo "Installing brew cask: $package..."
  $(which brew) install --cask --quiet "$package" || echo "Failed: $package"
done

# Install apps from the MacOS app store
apps=(
  904280696    # Things 3
  937984704    # Amphetamine
  1464122853   # NextDNS
)
brew install mas
for package in "${apps[@]}"; do
  echo "Installing App store app: $package..."
  mas install "$package"
done
{{- end }}


{{- if eq .chezmoi.os "linux" }}
# Flatpak packages on Linux
flatpak_packages=(
  com.discordapp.Discord
  com.spotify.Client
  org.localsend.localsend_app
  it.mijorus.gearlever
  com.libreoffice.LibreOffice
  {{- if eq .sysarea "home"}}
    org.telegram.desktop
    org.remmina.Remmina
    it.fabiodistasio.AntaresSQL
    org.chromium.Chromium
  {{- end }}
)
flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
for package in "${flatpak_packages[@]}"; do
  echo "Installing Flatpak package: $package..."
  flatpak install -y flathub "$package"
done
{{- end }}

python_packages=(
  baca
)
for package in "${python_packages[@]}"; do
  echo "Installing Python tool through uv: $package..."
  uv tool install $package
done


cargo_packages=(
  rusty-man
  bacon
  wiki-tui
  yazi
  hyperfine
  xh
  dua
  ncspot
  wiki-tui
)
for package in "${cargo_packages[@]}"; do
  echo "Installing Cargo tool: $package..."
  cargo install --locked $package
done


#### USER SCRIPTS
cargo_userscripts=(
{{- if eq .sysarea "work"}}
  mt
{{- end }}
)
for package in "${cargo_userscripts[@]}"; do
  echo "Installing Cargo userscript: $package..."
  cargo install --git https://github.com/lkdm/scripts $package --force 
done

#
sh_userscripts=(
  git-reword
)
for package in "${sh_userscripts[@]}"; do
  echo "Installing sh userscript: $package..."
  curl -L -o ~/bin/$package https://raw.githubusercontent.com/lkdm/scripts/main/$package.sh
  chmod +x ~/bin/$package
done

