#!/bin/bash

function setup_macos() {
	echo "Setting up for macOS"
	sudo xcode-select --install
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

	defaults write com.apple.Finder AppleShowAllFiles true
	killall Finder
}

function setup_linux() {
	echo "Setting up for Linux"
}

{{ if eq .chezmoi.os "darwin" -}}
setup_macos
{{ else if eq .chezmoi.os "linux" -}}
setup_linux
{{ else if eq .chezmoi.os "windows" -}}
echo "Windows is not supported"
{{ else -}}
echo "Unknown operating system not supported"
{{ end }}
