#!/bin/bash

echo "OK"

function setup_macos() {
	echo "Setting up for macOS"

	if ! command -v brew &>/dev/null; then
		sudo xcode-select --install
      /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi

	echo "Configuring Mac OS with sane defaults..."
	defaults write com.apple.Finder AppleShowAllFiles true
	killall Finder
}

function setup_linux() {
    gsettings set org.gnome.desktop.input-sources xkb-options "['caps:escape']"

	if ! command -v brew &>/dev/null; then
	    # If Homebrew isn't installed, install it

        if [ -f "/etc/debian_version" ]; then
            # On Debian, some things must be installed first
            echo "This system is running Debian or a Debian-based distribution."
            sudo apt-get install build-essential procps curl file git
        fi

        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    fi

    systemctl --user daemon-reload

    # If not in a distrobox, enable automatically upgrades if not done after 14 days
    if [ -z "$DISTROBOX_ENTER_PATH" ]; then
        if ! systemctl --user is-enabled distrobox-upgrade.timer &>/dev/null; then
            systemctl --user enable --now distrobox-upgrade.timer
        fi
    fi
    
    {{ if eq .sysarea "work" }}
        # If not already enabled; automatically comply with ISO requirements
        if ! systemctl --user is-enabled work-cleanup.timer &>/dev/null; then
            systemctl --user enable --now work-cleanup.timer
        fi
        local brew_prefix=/home/linuxbrew/.linuxbrew
        ln -sf "$HOME/.config/clamav/clamd.conf" "$brew_prefix/etc/clamav/clamd.conf"
        ln -sf "$HOME/.config/clamav/freshclam.conf" "$brew_prefix/etc/clamav/freshclam.conf"
    {{ end }}

}

# Create directories
mkdir -p ~/Repos/lkdm
mkdir -p ~/Repos/SoftwareNorth/TriOnline
mkdir -p ~/Sync
mkdir -p ~/Vaults

{{ if eq .chezmoi.os "darwin" -}}
setup_macos
{{ else if eq .chezmoi.os "linux" -}}
    {{- if ne .chezmoi.os "server"}}
        setup_linux
    {{ end }}
{{ else if eq .chezmoi.os "windows" -}}
echo "Windows is not supported"
{{ else -}}
echo "Unknown operating system not supported"
{{ end }}
