themes {
    kanagawa-dragon {
        text_unselected {
            base 197 201 197
            background 24 22 22
            emphasis_0 196 116 110
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        text_selected {
            base 24 22 22
            background 135 169 135
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        ribbon_selected {
            base 24 22 22
            background 135 169 135
            emphasis_0 196 116 110
            emphasis_1 255 160 102
            emphasis_2 162 146 163
            emphasis_3 101 133 148
        }
        ribbon_unselected {
            base 24 22 22
            background 197 201 197
            emphasis_0 196 116 110
            emphasis_1 197 201 197
            emphasis_2 101 133 148
            emphasis_3 162 146 163
        }
        table_title {
            base 135 169 135
            background 0 0 0
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        table_cell_selected {
            base 24 22 22
            background 135 169 135
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        table_cell_unselected {
            base 197 201 197
            background 24 22 22
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        list_selected {
            base 24 22 22
            background 135 169 135
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        list_unselected {
            base 197 201 197
            background 24 22 22
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 135 169 135
            emphasis_3 162 146 163
        }
        frame_selected {
            base 135 169 135
            background 0 0 0
            emphasis_0 255 160 102
            emphasis_1 101 133 148
            emphasis_2 162 146 163
            emphasis_3 0 0 0
        }
        frame_highlight {
            base 255 160 102
            background 0 0 0
            emphasis_0 162 146 163
            emphasis_1 255 160 102
            emphasis_2 255 160 102
            emphasis_3 255 160 102
        }
        exit_code_success {
            base 135 169 135
            background 0 0 0
            emphasis_0 101 133 148
            emphasis_1 24 22 22
            emphasis_2 162 146 163
            emphasis_3 101 133 148
        }
        exit_code_error {
            base 196 116 110
            background 0 0 0
            emphasis_0 255 158 59
            emphasis_1 0 0 0
            emphasis_2 0 0 0
            emphasis_3 0 0 0
        }
        multiplayer_user_colors {
            player_1 162 146 163
            player_2 101 133 148
            player_3 0 0 0
            player_4 255 158 59
            player_5 101 133 148
            player_6 0 0 0
            player_7 196 116 110
            player_8 0 0 0
            player_9 0 0 0
            player_10 0 0 0
        }
    }
}

