tap "homebrew/bundle"
tap "jesseduffield/lazygit"
tap "nikitabobko/tap"
brew "zsh"
brew "git"
brew "curl"
brew "btop"
brew "fzf"
brew "git"
brew "mosh"
brew "neovim"
brew "ripgrep"
brew "sevenzip"
brew "tmux"
brew "tree"
brew "jesseduffield/lazygit/lazygit"
brew "syncthing"
{{- if eq .chezmoi.os "darwin"}}
brew "podman"
brew "mas"
cask "alacritty"
cask "firefox"
cask "1password"
cask "1password-cli"
cask "font-jetbrains-mono"
cask "font-monaspace"
cask "iina"
cask "freedom"
cask "localsend"
cask "discord"
cask "obsidian"
mas "Things 3", id: 904280696
mas "Amphetamine", id: 937984704
mas "NextDNS", id: 1464122853
{{if eq .sysarea "home"}}
cask "scrivener"
cask "calibre"
cask "cryptomator"
mas "Mela", id: 1568924476
{{ end }}
{{ else if eq .chezmoi.os "linux" }}

{{ end }}

